@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=SUSE:wght@100..800&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Comfortaa", sans-serif;
    box-sizing: border-box;
}

.container {
    margin-left: 15px;
    margin-right: 15px;
}

:root {
    --black : black;
    --white : white;
    --border : #918b8bbe;
    --red : red;
    --grey: rgb(201, 196, 196);
    --green: rgb(21, 156, 73);
    --pink: rgb(236, 146, 161);
    --light_green : rgb(50, 145, 50);
    --tame: rgb(210, 192, 138);
    --ghost: #343434be;
    --ghost2: #2a2a2abe;
    --dark: #0f0f0fbe;
}

/*____________________________________________________HEADER_____________________________________________________ */

.header {
    background-color: var(--black);
    padding: 4px 0;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.button-category {
    cursor: pointer;
    width: 50px;
    height: 49px;
    padding: 9px;
    display: inline-block;
    border: 3px solid var(--black);
    background-color: var(--white);
    border-radius: 25%;
    transition: all 0.3s ease-in-out;
    display: block;
    filter: invert(1);
}
.button-category:hover {
    filter:invert(0);
}

/* ___________________________________________________________________________________________________________________*/





/* _________________________________all sorts of things____________________ */

.mobile-block{
    min-height: 10vh;
    padding-top: 57px;
}    

.mobile-block__header {
    padding: 8px 0;
    text-align: center;
    font-size: 15px;
    color: var(--white);
}    

.is-tame {
    background-color: var(--tame);
}    

.cats-card {
    padding: 17px 0;
    border-bottom: 1.9px solid var(--border);
    cursor: pointer;
    text-decoration: none;
    display: block;
    background-size: cover;
    background-position: center;
    color: var(--white);
    text-decoration: none;
}

.cats-card__title {
    font-size: 18px;
}
 
.cats-card__category {
    color: var(--grey);
    font-size: 15px;
    display: block;
    margin-bottom: 11px;
}


/* ________________________________________________________________________ */




/* _______________________CAT TYPES____________________________________ */

.is-pink {
    background-color: var(--pink);
}

.is-light_green {
    background-color: var(--light_green);
}

/* ____________________________________________________________________ */



/* ___________________________________________________________CAT DESCRIPTION_______________________________________ */

.back-btn {
    background-color: var(--green);
    color: var(--white);
    padding: 8px;
    padding-left: 1px;
    cursor: pointer; 
    display: block;
    text-decoration: none;
}    
.back-btn img {
    top: 2.5px;
    margin-right: 4px;
    position: relative;
}     
.back-btn :hover {
    filter: invert(1);
    transition: all 0.3s ease-in-out;
}    

.is-description {
    color: rgb(101, 99, 99);
}

.cat-description-block {
    padding: 17px 0;
}
.cats-card__title, .cats-card__category {
    margin-bottom: 11px;
}
.cats-description {
    font-size: 14px;
    margin-bottom: 15px;
}
.cat-description-block img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.6);
    margin-bottom: 15px
}

.author {
    font-size: 12px;
}
.green-txt {
    color: var(--green);
}


/* _______________________________________________________________________________________________________________________ */



/* ___________________________________________________ALL Categories__________________________________________________________ */


.category-row {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 20px;
    justify-content: center;
    padding: 30px 0;
}
.category-item { 
    cursor: pointer;
    border: 0.5px solid var(--border);
    color: var(--white);
    text-align: center;
    padding: 30px;
    border-radius: 30px; 
    text-decoration: none;
}
.category-item:hover {
    background-color: var(--border);
    color: var(--white);
    text-shadow: 
    0 0 5px white,
    0 0 10px white,
    0 0 20px white,
    0 0 40px white,
    0 0 80px white,
    0 0 100px white,
    0 0 120px white,
    0 0 140px white;
    transition: all 0.3s ease-in-out;
}

.category-item-image, .category-item-txt {
    display: block;
    font-size: 17px;
}
.category-item-txt {
    margin-top: 0 auto;
    margin-bottom: 10px;
    text-align: center;
}
.category-item-image {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
    
}
.category-img {
    width: 40px;
    height: 40px;
}
.is-crazycat {
    background: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.45)), url('../images/crazycat.avif');
    background-size: cover;
    background-position: center;
    color: var(--white);
}


.is-all {
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.6);
}
.is-special {
    filter: invert(1);
}


.is-crazycat {
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.6);
}



.Loading-cards {
    background-size: cover;
    animation: ghost2 1.5s infinite linear;
    padding: 12px 0;
    border: 1px solid var(--border) ;
}
.loading-info {
    padding: 12px 0;
}
.loading-row {
    padding: 30px 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.loading-item {
    border: 1.5px solid var(--border);
    border-radius: 30px;
    padding: 30px;
}

.skeleton-icon {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    background-color: var(--border);
    animation: ghost 1.5s infinite linear;
    margin: 0 auto;
}
.skeleton-small-text {
    width: 90px;
    height: 32px;
    animation: ghost 1.5s infinite linear;
    background-color: var(--border);
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 20px;
}

.skeleton-title, .skeleton-category, .skeleton-big-text, .skeleton-image {
    border-radius: 8px;
    width: 100%;
    animation: ghost 1.5s infinite linear;
    margin-bottom: 10px;
}
.skeleton-category {
    height: 15px;
}
.skeleton-title {
    height: 25px;
}
.skeleton-big-text {
    height: 120px;
}
.skeleton-image {
    height: 220px;
}

@keyframes ghost {
    0% {
        background-color: var(--border);
    }
    50% {
        background-color: var(--ghost);
    }
    100% {
        background-color: var(--border);
    }
}

@keyframes ghost2 {
    0% {
        background-color: var(--ghost2);
    }
    50% {
        background-color: var(--dark);
    }
    100% {
        background-color: var(--ghost2);
    }
}

.error {
    background-color: var(--red);
    min-height: 100vh;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--white);
}

.error-title {
    font-size: 20px;
    margin-bottom: 15px;
}
.error-info {
    font-size: 14px;
    margin-bottom: 12px;
}
.refresh {
    border: none;
    border-radius: 20px;
    color: var(--red);
    background-color: var(--white);
    text-align: center;
    padding: 18px 37px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    font-size: 12px;
}

.refresh:hover {
    filter: invert(1)
}